:root {
  --textColor: #ffff;
  --backgroundColor: #000;
  --goldColor: #d5ab44;
  --blueColor: #14213d;
}

body {
  font-family: monospace;
  background-color: black;
  color: var(--textColor);
  height: 100vh;
  line-height: 2.0;

}
h1 {
  text-align:center;
  border-bottom: 4px ridge #d5ab44;
  
}


/* NAVBAR START */
nav a {
  color: var(--goldColor);
  text-decoration: none;
  position: right;
}
.navbar-logo{
  width:120px;
  height:100px;
  display: flex;
}
.Navbar{
  justify-content: space-between;
}
.navlinks {
  flex-direction: row;
  display:flex;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
}
nav button {
  color: var(--textColor)
}
nav a:hover {
  color: var(--textColor);
}
header .nav-btn {
  cursor: pointer;
  color: var(--textColor);
  opacity: 0;

}
.nav-bar {
background-image: url(./assets/cover/background01.jpg);
background-size: cover;
width:100%;
border-bottom: 2px solid #ffff;
display: flex;
justify-content: space-between;
color: black;
}
li{
  padding:1px 0px;
}
.MobileNavigation {
  display:none;
  width:100%;;
  height:100%;
}
.appointment {
  border-color: var(--goldColor) ;
  background: var(--goldColor);
  border-radius: 5px;
  width:50%;
  display:flex;
  text-align: center;
  justify-content: space-between;
}
.appointment a {
  text-decoration: none;
  font-weight: bold;
  color: var(--textColor);
  text-align: center;
  width: 100%;
  
}
.appointment a:hover {
  cursor: pointer;
  color: #14213d;
  transition: 0.2s;

}


/* NAVBAR END*/
/* ABOUT START */
.about{
  width:100%;
  height: 100%;
}
#about-info{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: var(--textColor);
  padding-inline: 10px;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  flex-direction: column;
  

}
.ourstory {
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(./assets/cover/cover-image.png);
  background-size: cover;
  background-position: center;
  width:100%;
  height:500px;
  object-fit: cover;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0 20px;
}



/* ABOUT END */

/* SERVICES START*/
.services  ul li {
  font-weight: 150px;
}
#appointment-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
#service {
  padding-right: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  list-style-type:none ;
}
.carousel{
  border: 5px solid white;
}
/* SERVICES END */

/* GALLERY START */

.client-gallery {
  background-image: url(./assets/cover/B&W-background.jpg);
}
.gallery__item {
  border: #d5ab44 5px inset;
}
.gallery__item img {
  height: 100%;
  width:100%;
}

/* GALLERY END */

/* CONTACT START */
.contact{
  justify-content: space-around;
}
.contact h3 {
  border-bottom: #ffff 2px outset;
}
.contact-info{
  text-align: center;
}
.shop-times{
  background-size: cover;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
.shop-times a{
  text-decoration: none;
  font-weight: bold;
  color: var(--textColor);
  background: var(--goldColor);
  padding: 10px;
  align-items: center;
  border-radius: 5px;
  color: white;
    
}
.daily-time{
  display: flex;
  justify-content: center;
  text-align: center;
}
.daily-time ul {
  list-style-type: none;
  color:white;
  font-weight: 120px;
}
.times-logo{
  opacity:0.3;
  width: 250px;
  height:200px;
  position: absolute;
}
#location a:hover {
    cursor: pointer;
    color: #14213d;
    transition: 0.2s;
  
}
#shop-location{
  background-image: url(./assets/cover/B&W-background.jpg);
  background-size: cover;
}
.location-img{
  justify-content: space-around;
  padding-top: 15px;
}
#map{
  border: #d5ab44 5px inset;
}
/* CONTACT END */

/* REVIEWS START */
.reviews{
  color: black;
  font-weight: bold;
  align-items: center;
  border: solid var(--goldColor);
  text-align: center;
  background-color:whitesmoke;
  background-size:contain;
  margin-bottom: 20px;
}
.reviews div {
  border-block: 1px solid black;
  padding: 10px;
}
/* REVIEWS END  */

/* FOOTER START */
.footer {
  background-image:url(./assets/cover/background01.jpg);
  background-size: cover;
  width:100%;
  border-top: 3px solid #d5ab44;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding-top: 20px; 

}
#socials{
  width: 50%; 
  display: flex;
}
.icons{
  justify-content: center;
  align-items: center;
}
.number{
  padding-right:50px;
  color:white;
  font-size: 30px;
  font-weight:bolder;

}
.footer-background{
  background-size: 400px;
}

/* FOOTER END */

/* MEDIA QUERY START */
@media only screen and (max-width: 1024px){
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    font-size: 2rem;
  }
  header nav ul {
    top: 85px;
    width: 90% ;
    height:80%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1px;
    line-height: 1.5;
    transition: 1.5s;
    font-size: .8rem;
    position: absolute;
    background-image: url(./assets/cover/bwcover-image.png);
    background-size:contain;
    background-repeat:no-repeat ;
    background-position: center;
    background-color: var(--textColor);
    padding: 30px;
    border-block: 5px solid #ffff;
    padding-inline: 15px;
  }
  .placeholder{
  width: 20%;
  display : flex;
  margin-top : 30px;
  padding-right : 50px
  }
  
  .navlinks {
    flex-direction: column;
    color:#d5ab44
  }
  .Navbar .Navigation {
    display:none;
    
  }
  .Navbar .MobileNavigation {
    display: flex;
    align-items: center;

  }
  .burger {
    color: white;
    position: absolute;
    right: 3%;
    display: flex;
    top: 2%;
    cursor: pointer;
    justify-content: space-between;
  }
  .Navbar {
    opacity: 1;
  }
  .Navbar a:hover {
    border-bottom: 2px solid white;
    color: var(--goldColor);
    transition: 0.5s;
  }
  .navbar-logo {
    width:55px;
    height:50px;
    
  }
  
  .navlinks {
    height:80%;
    display:flex;
    color:white;
  }
  /* ABOUT */
  .ourstory{
    width: 100%;
    display: flex;
    text-align: center;
    
  }

  /* SERVICES */

  .sliderimg {
    width: 100%;
    height: auto;
    border: #d5ab44 3px inset;
    /* display: flex; */
  }
  #shop-policy {
    width:100%;
    height:100%
  }
  .coaster {
    width:100%;
    
  }
  .prices {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  /* LOCATION */
  .location {
    justify-content: space-around;
  }
  
  
  /* FOOTER */
  .number {
    font-size: 16px;
  }


  
} 
/* MOBILE QUERY END */