:root {
  --textColor: #ffff;
  --backgroundColor: #000;
  --goldColor: #d5ab44;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  0 rem;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: var(--textColor);
  height: 1rem;
  line-height: 2.0;
}
h1 {
  text-align:center;
  border-bottom: 2px solid #d5ab44;
}
/* NAVBAR START */
nav a {
  margin: 0 2rem;
  color: var(--textColor);
}
.navlinks {
  flex-direction: row;
  display:flex;
}
nav button {
  color: var(--textColor)
}
nav a:hover {
  color: var(--textColor);
}
header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;

}
.logo {
  background-color: aliceblue;
}
.nav-bar {
background-color: var(--goldColor);
width:100%;
padding: 0 20px;
border-bottom: 2px solid #ffff;
display: flex;
justify-content: space-between;
color: black;
}
li{
  padding:1px 0px;
}
.MobileNavigation {
  display:none;
}

/* NAVBAR END*/
/* ABOUT START */
.about{
  width:"100%";
  height: "100%";
  padding:"10px";
  margin:' 0 auto';
}
#about-info{
  justify-content: space-around;
  align-items: center;
  color: antiquewhite;
  padding: 60px 40px;
}
.ourstory {
  background-image: url('./assets/cover/cover-image.png');
  background-size: cover;
  background-position: center;
  background-color: transparent;
}

/* ABOUT END */

/* SERVICES START*/
#appointment-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
#services {
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* SERVICES END */

/* GALLERY START */
#client-pic {
  /* background-image: url('./assets/cover/cover-image.png'); */
  width:100%;
  height: 100%;
  padding: 10px 10px;
  
}
#haircuts {
  background-size: cover;
  background-position: center;
}
#placeholder{
  display : block;
  flex: wrap;
  margin-top : 30px;
  grid-template-columns: 150px 150px;
  grid-gap: 5px; 
}
/* GALLERY END */

/* CONTACT START */

/* .contact-info} */

/* CONTACT END */

/* FOOTER START */
.footer {
  background-color: #ffff;
  width:100%;
  border-top: 2px solid #d5ab44;
  color: black;
}
#socials{
  width: 50%;
  display: flex;
  justify-content: space-between;
}
#facebook {
  background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
  background-repeat: no-repeat;
}

/* FOOTER END */

/* MEDIA QUERY START */
@media only screen and (max-width: 1024px){
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    font-size: 2rem;
  }
  header nav {
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.2rem;
    transition: 1.5s;
    font-size: .8rem;
  }
  .placeholder{
    width: 20%;
    display : flex;
  margin-top : 30px;
  padding-right : 50px
  }
  
  .navlinks {
    flex-direction: column;
  }
  .Navbar .Navigation {
    display:none;
  }
  .Navbar .MobileNavigation {
    display: flex;
    align-items: center;
  }
  .burger {
    color: white;
    position: absolute;
    right: 3%;
    top:10%;
    cursor: pointer;
    justify-content: space-between;
  }
} 
/* MOBILE QUERY END */